.main-background {
    background-color: #15202B; 
}

.hover-background {
    background-color: #2d3741;
}

.picture-background {
    border: 4px solid #15202B; 
    background-color: #15202B; 
}

.main-font {
    font-family: 'Segoe UI';
}

.search-background {
    background-color: #273340; 
}

.whats-happening-background {
    background-color: #1E2732;
}

.heart-color {
    color: #F91880;
}

.custom-checkbox-input {
    display: none;
}


[x-cloak] { display: none !important; }